<html>
    <head>
        <meta charset="utf-8">
        <title>Yummy Foods</title> 
        <link rel="stylesheet" href="/styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.js" charset="utf-8" defer></script>
    </head>
    <body>
        <header>
            <div class="header">
                <h1><a href="/">Yummy Foods</a></h1>
            </div>
            <div class="create-recipe">
                <h1><a href="/createrecipe">Create Recipe</a></h1>
            </div>
        </header>
        <div class="recipes">
            {{{body}}}
        </div>
    </body>
</html>