<div class="postModal">
    <input class="inputFood" placeholder="Title">
    <p class="extraInfo">Name of Dish</p>
</div>
<div class="postModal">
    <input class="inputFood" placeholder="Username">
    <p class="extraInfo">Your Name</p>
</div>
<div class="postModal">
    <textarea class="inputFood" class="textareas" style="max-width: 15em;" placeholder="Ingredients"></textarea>
    <p class="extraInfo">Ingredients</p>
</div>