body {
    margin: 0;
}

header {
    background: gray;
    margin: 0 0 0 0;
    display: flex;
    position: relative;
    padding: 0 10 0 10;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0%;
}

.login-button{
    margin-left: 82%;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background: #dbdbdbcc;
}

.post {
    display: flex;
    max-width: 75%;
    max-height: 250px;
    border: 1px solid black;
    margin-top: 3%;
    margin-right: 12.5%;
    margin-left: 12.5%;
    flex: 1 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

#title, #ingredients, #recipe, #commentary, #user {   
    max-width: 75%;
    max-height: 36px;
    margin-top: 9px;
    margin-bottom: 0px;
}

#title, #ingredients, #recipe, #commentary, #user, #img {  
    display: flex;
    flex-direction: column;
    align-items: right;
    height: 100%;
    width: 100%;
}

img {
    position: relative;
    margin: 1% 1% 1% 1%;
    max-width: 20%;
    max-height: 20%;
    min-width: 20%;
    min-height: 20%;
    align-self: flex-start;
}

#ingredients, #recipe, #commentary {

}

.post #user {
    font-size: 24px;
}
.post #title {
    min-width: max-content;
    max-height: 36px;
    margin-right: 50%;
}

.a404 {
    text-align: center;
}