body {
    margin: 0;
}

header {
    background: gray;
    margin: 0 0 0 0;
    display: flex;
    position: inherit;
    padding: 0 0 0 10;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header h1, p, h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0%;
}

.create-recipe {
    position: absolute;
    right: 0.5%;
    flex-direction: row;
    text-align: right;
}

header a{
    text-decoration: none;
    color: white;
}

body {
    background: #dbdbdbcc;
}

.post {
    display: flex;
    max-width: 75%;
    height: inherit;
    max-height: 350px;
    border: 7px solid gray;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 0%;
    flex: 1 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    background: lightgray;
    border-radius: 10px;
}

#title, #ingredients, #recipe, #commentary, #user {   
    max-width: 75%;
    max-height: 36px;
    margin-top: 9px;
    margin-bottom: 0px;
}

#title, #ingredients, #recipe, #commentary, #user, #img {  
    height: max-content;
    width: max-content;
}

#img {
    position: relative;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    right: 0.925em;
    bottom: 0.925em;
    max-width: 200px;
    margin-bottom: 20em;
    height: auto;
    align-self: flex-start;
    border: 7px solid gray;
    border-radius: 1em;
}

.post #user {
    position: relative;
    font-size: 24px;
    width: fit-content;
    border: 7px solid gray;
    background-color: gray;
    border-radius: 0.25em;
    right: 1.1em;
    bottom: 1.0em;
}
.post #title {
    width: fit-content;
    flex-shrink: 2;
    max-height: 36px;
    border: 7px solid gray;
    background-color: gray;
    margin: 0 0 0 0;
    position: relative;
    bottom: 0.2em;
    border-radius: 0.25em;
    right: 0.9em;
}
.post p, .post h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Side bar Popular Posts */
.popular-posts {
    position: fixed;
    right: 0%;
    top: 26%;
    border: 7px solid gray;
    background: lightgray;
    border-radius: 10px;
    width: 20%;
    height: 60%;
    text-align: center;
}

.categories a {
    background: darkgray;
    border: 2px solid darkgray;
    color: white;
    border-radius: 4px;
    font-size: 24px;
    text-decoration: none;
}

#filter-header {
    width: 100%;
    background: rgb(44, 44, 44);
    margin: 0 0 0 0;
    color: white;
}
.pop-posts-button:hover {
    background: rgb(110, 110, 110);
}

/* 404 Screen */

.a404 {
    text-align: center;
}

/* Create Modal */
.postModal {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    bottom: 3em;
    left: 1em;
    width: 20em;
    border: 15px solid gray;
    background: gray;
    border-radius: 3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.inputFood {
    display: flex;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px;
    max-width: 15em;
    max-height: 15em;
    left: 0.2em;
    align-items: center;
    border-radius: 1em;
}

.extraInfo {
    position: relative;
    left: 3em;
}

.textareas {
    position: relative;
    border-radius: 1em;
}

#inputTitle {
    position: relative;
    bottom: 1em;
    border: 15px solid rgb(88, 88, 88);
    background: rgb(88, 88, 88);
}

.buttons {
    position: relative;
    width: 20em;
    border: 15px solid gray;
    background: gray;
    bottom: 2em;
    border-radius: 20em;
    left: 1em;
}

.buttons button {
    position: relative;
    left: 2em;
    background: lightgray;
    border: 5px solid lightgray;
    border-radius: 1em;
    width: 10em;
    height: 3em;
}