body {
    margin: 0;
}

header {
    background: gray;
    margin: 0 0 0 0;
    display: flex;
    position: inherit;
    padding: 0 0 0 10;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header h1, p, h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0%;
}

.create-recipe {
    position: absolute;
    right: 0.5%;
    flex-direction: row;
    text-align: right;
}

header a{
    text-decoration: none;
    color: white;
}

body {
    background: #dbdbdbcc;
}

.post {
    display: flex;
    max-width: 75%;
    max-height: 250px;
    border: 7px solid gray;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 0%;
    flex: 1 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    background: lightgray;
    border-radius: 10px;
}

#title, #ingredients, #recipe, #commentary, #user {   
    max-width: 75%;
    max-height: 36px;
    margin-top: 9px;
    margin-bottom: 0px;
}

#title, #ingredients, #recipe, #commentary, #user, #img {  
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

img {
    position: relative;
    margin: 1% 1% 1% 1%;
    max-width: 20%;
    max-height: 20%;
    min-height: 20%;
    width: max-content;
    align-self: flex-start;
}

.post #user {
    font-size: 24px;
}
.post #title {
    min-width: max-content;
    max-height: 36px;
    margin-right: 50%;
}

/* Side bar Popular Posts */
.popular-posts {
    position: fixed;
    right: 0%;
    top: 26%;
    border: 7px solid gray;
    background: lightgray;
    border-radius: 10px;
    width: 20%;
    height: 60%;
    text-align: center;
}

.categories a {
    background: darkgray;
    border: 2px solid darkgray;
    color: white;
    border-radius: 4px;
    font-size: 24px;
    text-decoration: none;
}

#filter-header {
    width: 100%;
    background: rgb(44, 44, 44);
    margin: 0 0 0 0;
    color: white;
}
.pop-posts-button:hover {
    background: rgb(110, 110, 110);
}

/* 404 Screen */

.a404 {
    text-align: center;
}

/*Miscellanous Screens */

.misc {
    display: flex;
    flex-direction: column;
    align-items: center;
}
